@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    width: 10px;
    height: 20px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color:rgb(241, 218, 7);
    border-radius: 1px 1px 8px 8px;
  }

/* Carregamento */ 

div.pre-carregamento{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transition: 2000s;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.efeito-carregamento{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;

    animation: efeito 0.7s infinite;
}


@keyframes efeito{
    0%{
        box-shadow: 0 0 0 0 white;
    }
    100%{
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1);
    }
}

.btn {
    display: inline-block;
    margin-top: 2%;
    padding: 15px 60px;
    font-size: 0.9rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.headline-2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    color:rgb(221, 199, 0);
}

/* Navbar */

#navbar-items a:hover {
color:rgb(221, 199, 0);
}

#navbar-items a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgb(219, 205, 1);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

#navbar-items a:hover span{
    transform:scale(1) translateY(0);
    opacity: 1;
}

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
    display: flex;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

span{
    color:#d8ca01
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 15px;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    /* Overlay */
    background-color: rgba(0, 0, 0, 0.658);
    background-blend-mode: color;
}

.btns2{
    display: none;
}

#showcase-container {
    text-align: center;
}

#showcase-container h2 {
    font-size: 1.9rem;
}

#showcase-container p {
    font-size: 0.9rem;
    padding: 6px 0;
}

/* Clients */
#clients {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.client {
    display: inline-block;
    width: 25%;
}

/* About */
#features {
    width: 100%;
    background: #181717;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Product */
#product {
    width: 100%;
    padding: 80px;
    text-align: center;
}

.h2.companheiros{
text-align: center;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#items {
    width: 650px;
    text-align: center;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    text-align: center;
}

/* Testimonials */
.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

/* Gallery */
#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image {
    display: inline-block;
    width: 540px;
    height: 360px;
    border-radius: 5px;
}

/* Footer */
#footer {
    background: #222;
    color:rgb(221, 199, 0);
    padding: 30px;
    text-align: center;
}